<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/user/dashboard">Dashboard</a></li>
            <li><a href="/user/update-profile">Update Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>

            <a href="/user/uploadPic"><img width="50" height="50" class="img-circle" alt="..." src="/uploads/profile_pic/b2f36ebc9940a9830999ca8048befff9"></a>

        </ul>
    </div>
</nav>