<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Anout us</h1>
            <p>Welcome to about us</p>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>

</body>
</html>