<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container">

<header>
    <% include ../views/partials/loggedin_header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Upload new profile pic</p>

        <form action="/user/uploadPic" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <input type="submit" value="submit">
        </form>
    </div>
</main>

<footer>
    <% include ../views/partials/footer %>
</footer>

</body>
</html>